/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

body {
    height: 100vh;
    line-height: 1.5;
}

/* Styles */
body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    font-family: Arial, Helvetica, sans-serif;    
}

aside {
    background-color: #0ea5e9;
    grid-row: 1 / -1;
    padding: 12px;
}

header {
    background-color: white;
    display: grid;
    grid-template: 2fr 3fr / 3fr 2fr;
    align-items: center;
    padding: 12px 32px;
    gap: 12px 0px;
}

.profile-picture {
    border-radius: 50%;
}

.upper-right-side {
    justify-self: center;
    display: flex;
    gap: 25px;
    align-items: center;
}

.upper-right-side .profile-picture {
    width: 30px;
    height: 30px;
}

.upper-right-side h1 {
    font-size: 16px;
}

.welcome {
    display: grid;
    grid-template: 2fr 3fr / 60px auto;
    align-content: center;
}

.welcome .profile-picture {
    width: 50px;
    height: 50px;
    grid-row: 1 / -1;
    margin-right: 20px;
}

.welcome p {
    font-weight: 600;
}

.welcome h1 {
    font-size: 24px;
}

.actions button {
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 32px;
    margin: 0px 10px;
}

main {
    background-color: lightgray;
    display: grid;
    grid-template: auto auto / 7fr 3fr;
    gap: 12px;
    padding: 12px;
    justify-content: center;
}

.projects-section {
    grid-row: 1 / -1;
}

 main h1 {
    margin-bottom: 6px;
}

div.projects { 
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    gap: 16px;
}

.projects-section p {
    font-size: 12px;
}

.announcements-section p, .trending-section p {
    font-size: 10px;
}

.announcements, .trending {
    background-color: white;
    border-radius: 8px;
}

.upload {
    display: grid;
    grid-template: 1fr 1fr / 40px auto;
}

.upload .profile-picture {
    grid-row: 1 / -1;
}

main h1 {
    font-size: 16px;
}

.projects h2 {
    font-size: 14px;
}

.announcements h2 {
    font-size: 12px;
}

.upload h2 {
    font-size: 10px;
}

main .project {
    background-color: white;
    border-left: 8px solid #f59e0b;
    border-radius: 2.2%;
    padding: 32px 14px;
}

.announcements {
    padding: 20px 14px;
}

.announcement {
    margin: 12px 0px;
}

.trending {
    padding: 12px;
}

.upload {
    padding: 8px 0px;
}