/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

body {
    height: 100vh;
    line-height: 1.5;
}

/* Styles */
body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    background-color: #0ea5e9;
    grid-row: 1 / -1;
    padding: 12px 32px;
    color: white;
}

aside ul {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0px;
    margin: 40px 0px;
}

aside li {
    margin: 8px 0px;
}

header {
    background-color: white;
    display: grid;
    grid-template: 2fr 3fr / 3fr 2fr;
    align-items: center;
    padding: 12px 32px;
    gap: 12px 0px;
}

.search-bar {
    display: flex;
    gap: 16px;
}

/* svg for icons */
svg {
    --icon-side-length: 24px;
    width: var(--icon-side-length);
    height: var(--icon-side-length);
}

aside svg {
    fill: white;
    position: relative;
}

aside h1 svg {
    width: 36px;
    height: 36px;
    top: 10px;
    margin-right: 8px;
}

aside nav svg{
    top: 6px;
    left: 6px;
    margin-right: 22px;
}

.search-bar input {
    flex: 1;
    background-color: #cbd5e1;
    border-radius: 12px;
    border: none;
}

.profile-picture {
    border-radius: 50%;
}

.upper-right-side {
    justify-self: end;
    margin-right: 24px;
    display: flex;
    gap: 36px;
    align-items: center;
}

.upper-right-side .profile-picture {
    width: 40px;
    height: 40px;
}

.upper-right-side div {
    font-weight: bold;
    font-size: 16px;
}

.welcome {
    display: grid;
    grid-template: 2fr 3fr / 60px auto;
    align-content: center;
    column-gap: 16px;
}

.welcome .profile-picture {
    width: 60px;
    height: 60px;
    grid-row: 1 / -1;
    margin-right: 20px;
}

.welcome p {
    font-weight: 600;
}

.welcome h1 {
    font-size: 24px;
}

.actions {
    justify-self: end;
}

.actions button {
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 32px;
    margin: 0px 10px;
}

main {
    background-color: lightgray;
    display: grid;
    grid-template: auto auto / 7fr 3fr;
    gap: 12px;
    padding: 12px;
    justify-content: center;
}

.projects-section {
    grid-row: 1 / -1;
}

main h1 {
    margin-bottom: 6px;
}

div.projects {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    gap: 12px;
}

.projects-section p {
    font-size: 12px;
}

.announcements-section p,
.trending-section p {
    font-size: 10px;
}

.announcements,
.trending {
    background-color: white;
    border-radius: 8px;
}

.upload {
    display: grid;
    grid-template: 1fr 1fr / 40px auto;
}

.upload .profile-picture {
    grid-row: 1 / -1;
}

main h1 {
    font-size: 16px;
}

.projects h2 {
    font-size: 14px;
}

.announcements h2 {
    font-size: 12px;
}

.upload h2 {
    font-size: 10px;
}

main .project {
    background-color: white;
    border-left: 8px solid #f59e0b;
    border-radius: 2.2%;
    padding: 32px 14px;
}

.project-actions {
    display: flex;
    gap: 24px;
    justify-content: end;
    margin-top: 16px;
}

.announcements {
    padding: 20px 14px;
}

.announcement {
    margin: 12px 0px;
}

.announcement:not(:last-child)::after {
    border-bottom: 2px solid lightgray;
    content: '';
    display: block;
    width: 90%;
    height: 16px;
    margin-left: 12px;
}

.trending {
    padding: 12px;
}

.upload {
    padding: 8px 0px;
}